{% extends '@App/Main/index.html.twig' %}

{% block title %}
    {{ 'bibliography'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
{% endblock %}

