{% extends 'AppBundle:Main:register.html.twig' %}

{% block title %}
    {{ book.name }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .wrapper p {
            font-weight: bolder;
            font-size: 20px;
            margin: 8px;
        }
        .wrapper input {
            width: 200px;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="wrapper">
        <span><a href="{{ path('homepage') }}">{{ 'come back'|trans }}</a></span>
        <p>{{ 'author'|trans }}: {{ book.author }}</p>
        <p>{{ 'name'|trans }}: {{ book.name }}</p>
        <form action="{{ path('getBook', {'id' : book.id}) }}">
            <label for="card-number">{{ 'your ticket number'|trans }}</label><br>
            <input type="text" id="card-number" name="card_id"><br>
            <label for="">{{ 'return date'|trans }}</label><br>
            <input type="text" name="date" placeholder="{{ 'example'|trans }}: 2019-8-8"><br>
            <input type="submit" value="{{ 'apply'|trans }}">
        </form>
    </div>
{% endblock %}

