{% extends "base.html.twig" %}

{% block title %}{{ 'bibliography'|trans }}{% endblock %}
{% block stylesheets %}
    <style>
        body {
            margin: 0;
            padding: 0;
            word-wrap: break-word;
        }
        body a {
            text-decoration: none;
        }
        body a:hover {
            text-decoration: underline;
        }
        * {
            box-sizing: border-box;
        }
        header {
            margin: 0;
            padding: 10px;
            background: white;
            box-shadow: 0 2px 5px grey;
            z-index: 100;
        }
        .container {
            width: 1000px;
            margin: 0 auto;
            position: relative;
        }
        .container h1 {
            display: inline-block;
        }
        #register {
            position: absolute;
            top: 10px;
            right: 10px;
            text-decoration: none;
            color: black;
            border: 1px solid black;
            padding: 5px 20px;
        }
        .sidebar {
            width: 28%;
            background: #f0f0f0;
            padding: 10px;
        }
        .books-block {
            width: 68%;
            padding: 5px;
        }
        .genres {
            border-collapse: collapse;
        }
        .genres td {
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            padding: 2px 10px;
            font-size: 20px;
        }
        .book {
            width: 40%;
            padding: 5px;
            margin: 10px 30px;
            border: 1px solid lightgrey;
            border-radius: 5px;
        }
        .book:hover {
            background: #f9f9f9;
            border: 1px solid #a8a8a8;
        }
        .books-block {
            background: #f0f0f0;
        }
        .book p {
            margin: 5px;
        }
        .get-button {
            padding: 3px 50px;
            text-decoration: none;
            background: #b3ebf0;
            border: 1px solid black;
            border-radius: 5px;
            color: black;
            margin: 5px;
        }
        .change-lang {
            display: inline-block;
            margin-left: 500px;
        }
    </style>
{% endblock %}

{% block body %}
    <header>
        <div class="container">
            <h1 style="margin: 5px; border-right: 2px solid black; padding: 0 10px">{{ 'literature'|trans }}</h1>
            <a href="{{ path('my_books') }}">{{ 'my books'|trans }}</a>
            <a href="{{ path('registration') }}" id="register">{{ 'registration'|trans }}</a>
            <div class="change-lang">
                <a href="{{ path('change_lang', {'_locale' : 'ru'}) }}">ру</a>
                <a href="{{ path('change_lang', {'_locale' : 'en'}) }}">en</a>
            </div>
        </div>
    </header>
    <div class="container" style="display: flex; flex-flow: row nowrap; justify-content: space-around; margin: 10px auto">
        <div class="sidebar">
            <h2>{{ 'genres'|trans }}:</h2>
            <table class="genres">
                <tr>
                    <td><a href="{{ path('homepage') }}">{{ 'all'|trans }}</a></td>
                </tr>
                {% for genre in genres %}
                    <tr><td><a href="{{ path('category', {'id' : genre.id}) }}">{{ genre.name }}</a></td></tr>
                {% endfor %}
            </table>
        </div>
        <div class="books-block" style="display: flex; flex-flow: row wrap; justify-content: flex-start">
            {% for book in books %}
                <div class="book" style="text-align: center">
                    <div class="book-img" style="text-align: center">
                        <img src="{{ vich_uploader_asset(book, 'imageFile') }}" alt="image" height="150">
                    </div>
                    <p>{{ 'author'|trans }}: {{ book.author }}</p>
                    <p>{{ 'name'|trans }}: "{{ book.name }}"</p>
                    {% if book.stock %}
                    <a href="{{ path('getBook', {'id' : book.id}) }}" class="get-button">{{ 'get'|trans }}</a>
                    {% else %}
                     <span style="margin: 10px; color: #5e5e5e; font-size: 14px">
                         {{ 'expected'|trans }}:
                         {{ book.expectedReturnDateString }}
                     </span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
