{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}
{% block stylesheets %}
    <style>
        .wrapper {
            width: 800px;
            margin: 100px auto;
            padding: 20px;
            box-shadow: 0 2px 10px grey;
            text-align: center;
        }
        .wrapper input {
            margin: 10px;
        }
        #card_id {
            width: 300px;
        }
        .books-block {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start
        }
        .book {
            width: 40%;
            padding: 5px;
            margin: 10px 30px;
            border: 1px solid lightgrey;
            border-radius: 5px;
        }
        .book:hover {
            background: #f9f9f9;
            border: 1px solid #a8a8a8;
        }
        .books-block {
            background: #f0f0f0;
            margin: 50px 0;
        }
        .book p {
            margin: 5px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="wrapper">
        <a href="{{ path('homepage') }}">{{ 'come back'|trans }}</a><br>
        <h2>{{ 'my books'|trans }}</h2>
        <label for="card">{{ 'enter'|trans }} {{ 'your ticket number'|trans }}</label><br>
        <input type="text" id="card_id"><br>
        <button id="get_button">{{ 'apply'|trans }}</button>
        <div class="books-block">

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let button = $('#get_button');
        let card_id = $('#card_id');
        let books_block = $('.books-block');
        button.on('click', function () {
            $.get('/my/books/get', {card_id: card_id.val()}, function (books) {
                $(books_block).html('');
                $.each(books, function (i, book) {
                    $.each(book, function (i, book) {
                    books_block.append(`<div class="book">
                    <div class="book-img" style="text-align: center">
                        <img src="/images/books/${book.img}" alt="image" height="150">
                    </div>
                    <p>{{ 'author'|trans }}: ${book.author}</p>
                    <p>{{ 'name'|trans }}: "${book.name}"</p>
                    </div>`);
                    });
                })
            })
        })
    </script>
{% endblock %}

