{% extends 'base.html.twig' %}

{% block title %}
    {{ 'registration'|trans }}
{% endblock %}
{% block stylesheets %}
    <style>
        .wrapper {
            box-sizing: border-box;
            width: 400px;
            height: 300px;
            position: absolute;
            left: calc(50% - 200px);
            top: calc(50% - 150px);
            box-shadow: 0 2px 10px grey;
            padding: 20px;
            text-align: center;
        }
        .wrapper input {
            margin: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="wrapper">
        <span style="font-size: 12px"><a href="{{ path('homepage') }}">{{ 'come back'|trans }}</a></span>
        <h1>{{ 'registration'|trans }}:</h1>
        {{ form(form) }}
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}

