{% extends 'base.html.twig' %}

{% block title %}
 {{ 'you have successfully registered'|trans }}
{% endblock %}
{% block stylesheets %}
    <style>
        body {
            text-align: center;
            padding-top: 100px;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>{{ 'you have successfully registered'|trans }}</h1>
    <h2>{{ 'your ticket number'|trans }}: <mark>{{ card }}</mark></h2>
    <p><a href="{{ path('homepage') }}">{{ 'continue'|trans }}</a></p>
{% endblock %}

