{% extends "base.html.twig" %}

{% block title %}{{ 'authorization'|trans }}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h1>{{ 'authorization'|trans }}</h1>
    <form action="{{ path('admin_login') }}" method="post">
        <label for="username">{{ 'login'|trans }}:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
        <label for="password">{{ 'password'|trans }}:</label>
        <input type="password" id="password" name="_password" />
        <button type="submit">{{ 'enter2'|trans }}</button>
    </form>
{% endblock %}
